.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.bottomBlock {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.checkbox {
  max-width: 500px;
}

.fields {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sum {
  margin-top: 40px;
}

.input {
  width: 48%;
}
