.checkbox {
  box-sizing: border-box;
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 1px solid var(--gray);
  margin: 5px 10px 0 0;
  transition: all 0.2s ease-in-out;
}

.checkboxIcon {
  width: 16px;
  height: 16px;
  opacity: 0;
}

.label {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;

  input {
    display: none;
  }

  &.error {
    color: red;
  }

  &.error .checkbox {
    border-color: red;
  }

  &.checked .checkbox {
    border: none;

    path {
      fill: var(--white);
    }

    &.disabled .checkboxIcon path {
      fill: var(--white);
    }
  }

  &.checked .checkboxIcon {
    opacity: 1;
  }

  &:hover:not(.checked):not(.error) .checkbox {
    border-color: var(--black);
  }
}
