.container {
  margin-top: 50px;
  text-align: center;
}

.title {
  max-width: 720px;
  margin: 0 auto 20px;
}

.subtitle {
  margin-bottom: 20px;
}

.image {
  display: block;

  img {
    max-width: 700px;
  }
}
