.outerContainer {
  background: url('/images/Sold/bg.png') no-repeat;
  min-height: 700px;
}

.title {
  text-align: center;
  padding-top: 50px;
  max-width: 900px;
  margin: 0 auto 10px;
}

.subtitle {
  text-align: center;
}
