.button {
  font-weight: 700;
  color: var(--white);
  padding: 12px 24px;
  border-color: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  transition: background 0.2 ease-in-out, color 0.2 ease-in-out;
}

.primary {
  color: var(--white);
}

.blue {
  background-color: var(--blue);

  &:hover {
    background-color: darken(#4e6af0, 15%);
  }
}

.red {
  background-color: var(--red);

  &:hover {
    background-color: darken(#ff5a5a, 15%);
  }
}

.green {
  background-color: var(--green);

  &:hover {
    background-color: darken(#23e9b4, 15%);
  }
}

.secondary {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);

  &:hover {
    color: var(--white);
    background-color: var(--black);
  }
}
