.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.title {
  margin-bottom: 15px;
  max-width: 500px;
}

.subtitle {
  margin-bottom: 15px;
}
