@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(/fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(/fonts/Montserrat-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(/fonts/Raleway-Medium.ttf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(/fonts/Raleway-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(/fonts/Raleway-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
