:root {
  --black: #191d21;
  --darkGray: #656f77;
  --gray: #acb8c2;
  --silverGray: #cdd9e3;
  --lightGray: #e8eef3;
  --white: #ffffff;
  --blue: #4e6af0;
  --green: #23e9b4;
  --ocean: #91d7e0;
  --yellow: #ffac4b;
  --red: #ff5a5a;
}
