.outerContainer {
  box-shadow: 0 2px 4px -2px rgb(203 203 203 / 12%),
    0 4px 4px -2px rgb(189 189 189 / 8%);
  border-bottom: 1px solid var(--lightGray);
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightMenu {
  align-self: center;
  margin-top: 5px;

  a:not(:last-child) {
    margin-right: 15px;
  }
}

.rightMenuItem {
  padding: 7px;
  border-radius: 50%;
  transition: background 0.2s ease-in-out;

  &:hover {
    svg {
      path {
        fill: var(--lightGray);
      }
    }
    background-color: var(--lightGray);
  }
}
