.container {
  max-width: 320px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.image {
  img {
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 320px;
    margin-bottom: 10px;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.title {
  margin-bottom: 5px;
}

.subtitle {
  margin-bottom: 5px;
}

.button {
  margin: 20px 20px 0 0;
}
